@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100%;
    background-color: #143742;
    color: #fdebeb;

}

#inscription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form {
    margin: 15px;
}

#ui {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    background:linear-gradient(to bottom, rgb(102, 156, 178) 5%, rgba(25, 134, 96, 0.7) 100%);
    background-color: #417388;
    width: 100%;
    height: 100px;
    margin: 0;
    top: 0;
}

.titre h3 {
    font-size: 2em;
    height: 40px;
    font-family: Lobster, fantasy;
    text-align: center;
    display: block;
}

.titre a {
    text-decoration-line: none;
    color: rgba(118, 253, 205, 0.7);
}

nav {
    padding: 30px;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;

}
.menu > li {
    color: white;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background:linear-gradient(to bottom, rgba(0, 192, 192, 0.7) 5%, rgb(25, 126, 106) 100%);
    background-color: #197e6a;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
}

.sub-menu {
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
    width: 140px;
    height: 40px;
    border-radius: 15px;
}

.sub-menu li {
    font-size: 20px;
    background:linear-gradient(to bottom, rgba(0, 192, 192, 0.7) 5%, rgb(25, 126, 106) 100%);
    background-color: #197e6a;
    padding: 8px 0;
    color: white;
    border: 1px solid #fff;
    transform: scale(1);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
    border-radius: 4px;
}

.sub-menu li:last-child {
    border-bottom: 0;
}
.sub-menu li:hover {
    background:linear-gradient(to bottom, rgba(230, 1, 255, 0.77) 5%, rgb(166, 17, 146) 100%);
    background-color: #e601ff;
}
.menu > li:hover .sub-menu li {
    transform: scale(1);

}
.menu > li:hover .sub-menu {
    transform: scale(1);
}

ul {
    list-style-type: none;
}


#searchbar {
    width:200px;
    height:auto;
    text-align: center;
}

.formulaire {
    display:inline-block;
}

.formulaire .champ {
    width:160px;
    height:35px;
}

.formulaire .bouton {
    background-image: url(../img/images.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bouton {
    width: 35px;
    height: 35px;
}

ul {
    text-align: center
}