
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100%;
    background-color: #ddfcfd;
    color: #00a25f;

}

.menu {
    width: 100%;
    height: 80px;
    background-color: rgba(181,238,233,1);;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: -o-linear-gradient(top, rgba(181,238,233,1) 0%, rgba(42,229,201,1) 50%, rgba(190,239,234,1) 100%);
    background: -ms-linear-gradient(top, rgba(181,238,233,1) 0%, rgba(42,229,201,1) 50%, rgba(190,239,234,1) 100%);
    background: linear-gradient(to bottom, rgba(181,238,233,1) 0%, rgba(42,229,201,1) 50%, rgba(190,239,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5eee9', endColorstr='#beefea', GradientType=0 );
}

#acceuil {
    color: rgb(245, 230, 230);
    font-weight: bold;
    display: inline-block;
    width: 10%;
}

#titre {
    width: 70%;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

a {
    text-decoration-line: none;
    color: rgb(14, 128, 128);
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
}

a:hover {
    color: #e19fb5;
}

.icofont-user-alt-3 {
    font-size: 2.5em;
    color: #00C3DA;
}

#inscription {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
}
input:focus {
    border: 5px ridge mediumspringgreen;
    border-radius: 10px;
    outline      : none;
}
input::selection {
    background-color: #00ff95;
}

#form-register {
    text-align: center;
    width: 40%;
    border: 8px ridge mediumspringgreen;
    background-color: #c8fff5;
    border-radius: 10px;
    backdrop-filter: blur(16px) saturate(180%)
}

